In [1]:
import pandas as pd
import numpy as np

In [3]:
data=pd.read_csv("./data/train.csv")

In [4]:
data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [6]:
data=pd.read_csv("./data/train.csv",index_col="Id")
data.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [7]:
data.columns

Index(['MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street', 'Alley',
       'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope',
       'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle',
       'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'RoofStyle',
       'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'MasVnrArea',
       'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond',
       'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1', 'BsmtFinType2',
       'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating', 'HeatingQC',
       'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF',
       'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath',
       'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual', 'TotRmsAbvGrd',
       'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType', 'GarageYrBlt',
       'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual', 'GarageCond',
       'PavedDrive', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch',
       'ScreenPorch', 'PoolArea', 'PoolQC', 'Fence', 'MiscFeature', 'MiscVal',
       'MoSold', 'YrSold', 'SaleType', 'SaleCondition', 'SalePrice'],
      dtype='object')

In [8]:
features=["LotArea","YearBuilt","1stFlrSF","2ndFlrSF","FullBath","BedroomAbvGr","TotRmsAbvGrd"]

In [9]:
X=data[features]
X.head()

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
Id,,,,,,,
1,8450,2003,856,854,2,3,8
2,9600,1976,1262,0,2,3,6
3,11250,2001,920,866,2,3,6
4,9550,1915,961,756,1,3,7
5,14260,2000,1145,1053,2,4,9

In [11]:
y=data["SalePrice"]
y.head()

Id
1    208500
2    181500
3    223500
4    140000
5    250000
Name: SalePrice, dtype: int64

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, train_size=0.8,test_size=0.2, random_state=0)

In [15]:
X_train.shape

(1168, 7)

In [16]:
X.shape

(1460, 7)

In [17]:
data.shape

(1460, 80)

In [23]:
# from sklearn.tree import DecisionTreeClassifier
# clf = DecisionTreeClassifier()
# clf.fit(X_train, y_train)
# from sklearn import svm
# clf = svm.SVC()
# clf.fit(X_train, y_train)

from sklearn.neural_network import MLPClassifier
clf = MLPClassifier(hidden_layer_sizes=(10, 10, 10), max_iter=1000)
clf.fit(X_train, y_train)

MLPClassifier(hidden_layer_sizes=(10, 10, 10), max_iter=1000)

In [24]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
y_pred = clf.predict(X_test)
print("Accuracy: ", accuracy_score(y_test, y_pred))
print("Classification report: \n", classification_report(y_test, y_pred))
print("Confusion matrix: \n", confusion_matrix(y_test, y_pred))

Accuracy:  0.00684931506849315
Classification report:
               precision    recall  f1-score   support

       67000       0.00      0.00      0.00         1
       68500       0.00      0.00      0.00         1
       75000       0.00      0.00      0.00         0
       75500       0.00      0.00      0.00         0
       79500       0.00      0.00      0.00         1
       80000       0.00      0.00      0.00         1
       81000       0.00      0.00      0.00         1
       82000       0.00      0.00      0.00         2
       82500       0.00      0.00      0.00         3
       84500       0.00      0.00      0.00         1
       84900       0.00      0.00      0.00         1
       85000       0.00      0.00      0.00         1
       86000       0.00      0.00      0.00         0
       87500       0.00      0.00      0.00         1
       88000       0.00      0.00      0.00         1
       89471       0.00      0.00      0.00         1
       90350       0.00      0.00      0.00         1
       92900       0.00      0.00      0.00         1
       97000       0.00      0.00      0.00         1
       99900       0.00      0.00      0.00         1
      100000       0.00      0.00      0.00         1
      101000       0.00      0.00      0.00         1
      104000       0.00      0.00      0.00         1
      105000       0.00      0.00      0.00         1
      105900       0.00      0.00      0.00         1
      106000       0.00      0.00      0.00         1
      106250       0.00      0.00      0.00         1
      106500       0.00      0.00      0.00         1
      107500       0.00      0.00      0.00         1
      107900       0.00      0.00      0.00         1
      108000       0.00      0.00      0.00         2
      108959       0.00      0.00      0.00         1
      109500       0.00      0.00      0.00         1
      110000       0.00      0.00      0.00         5
      110500       0.00      0.00      0.00         1
      112000       0.00      0.00      0.00         2
      112500       0.00      0.00      0.00         1
      113000       0.00      0.00      0.00         1
      115000       0.00      0.00      0.00         3
      116000       0.00      0.00      0.00         1
      116050       0.00      0.00      0.00         1
      117000       0.00      0.00      0.00         2
      118000       0.00      0.00      0.00         2
      118500       0.00      0.00      0.00         2
      119000       0.00      0.00      0.00         1
      119200       0.00      0.00      0.00         1
      119900       0.00      0.00      0.00         1
      120000       0.00      0.00      0.00         1
      120500       0.00      0.00      0.00         1
      122500       0.00      0.00      0.00         1
      123000       0.00      0.00      0.00         2
      123600       0.00      0.00      0.00         1
      124000       0.00      0.00      0.00         1
      124500       0.00      0.00      0.00         1
      125000       0.00      0.00      0.00         2
      127000       0.00      0.00      0.00         2
      128200       0.00      0.00      0.00         1
      128500       0.00      0.00      0.00         2
      129000       0.00      0.00      0.00         2
      130000       0.00      0.00      0.00         1
      131500       0.00      0.00      0.00         1
      132000       0.00      0.00      0.00         2
      132500       0.00      0.00      0.00         1
      133000       0.00      0.00      0.00         2
      134000       0.00      0.00      0.00         1
      134450       0.00      0.00      0.00         1
      134500       0.00      0.00      0.00         1
      135000       0.00      0.00      0.00         3
      136000       0.00      0.00      0.00         3
      136500       0.00      0.00      0.00         1
      136905       0.00      0.00      0.00         1
      137500       0.00      0.00      0.00         1
      137900       0.00      0.00      0.00         1
      138000       0.00      0.00      0.00         1
      139000       0.00      0.00      0.00         4
      139500       0.00      0.00      0.00         1
      140000       0.01      1.00      0.01         2
      141000       0.00      0.00      0.00         2
      142000       0.00      0.00      0.00         1
      142500       0.00      0.00      0.00         1
      142953       0.00      0.00      0.00         1
      143000       0.00      0.00      0.00         1
      144000       0.00      0.00      0.00         1
      144500       0.00      0.00      0.00         1
      145000       0.00      0.00      0.00         5
      145500       0.00      0.00      0.00         1
      145900       0.00      0.00      0.00         1
      146000       0.00      0.00      0.00         1
      147000       0.00      0.00      0.00         1
      148000       0.00      0.00      0.00         1
      148800       0.00      0.00      0.00         1
      149350       0.00      0.00      0.00         1
      149900       0.00      0.00      0.00         1
      150500       0.00      0.00      0.00         1
      151000       0.00      0.00      0.00         0
      151400       0.00      0.00      0.00         0
      152000       0.00      0.00      0.00         1
      154000       0.00      0.00      0.00         0
      155000       0.00      0.00      0.00         3
      155900       0.00      0.00      0.00         1
      156000       0.00      0.00      0.00         2
      156500       0.00      0.00      0.00         1
      157000       0.00      0.00      0.00         1
      157500       0.00      0.00      0.00         1
      158000       0.00      0.00      0.00         1
      158500       0.00      0.00      0.00         1
      159000       0.00      0.00      0.00         1
      159500       0.00      0.00      0.00         1
      160000       0.00      0.00      0.00         4
      161000       0.00      0.00      0.00         1
      162900       0.00      0.00      0.00         1
      163900       0.00      0.00      0.00         1
      164000       0.00      0.00      0.00         1
      164990       0.00      0.00      0.00         1
      165600       0.00      0.00      0.00         1
      166000       0.00      0.00      0.00         1
      167900       0.00      0.00      0.00         1
      168000       0.00      0.00      0.00         1
      170000       0.00      0.00      0.00         2
      171000       0.00      0.00      0.00         2
      172500       0.00      0.00      0.00         3
      174000       0.00      0.00      0.00         1
      175000       0.00      0.00      0.00         3
      175900       0.00      0.00      0.00         2
      176000       0.00      0.00      0.00         3
      177000       0.00      0.00      0.00         1
      177500       0.00      0.00      0.00         2
      178900       0.00      0.00      0.00         1
      179000       0.00      0.00      0.00         1
      180000       0.00      0.00      0.00         1
      180500       0.00      0.00      0.00         2
      181000       0.00      0.00      0.00         3
      181500       0.00      0.00      0.00         1
      181900       0.00      0.00      0.00         1
      182900       0.00      0.00      0.00         1
      183900       0.00      0.00      0.00         1
      185000       0.00      0.00      0.00         3
      185900       0.00      0.00      0.00         1
      186000       0.00      0.00      0.00         1
      187500       0.00      0.00      0.00         3
      187750       0.00      0.00      0.00         1
      188500       0.00      0.00      0.00         1
      189000       0.00      0.00      0.00         1
      190000       0.00      0.00      0.00         4
      192000       0.00      0.00      0.00         2
      192500       0.00      0.00      0.00         1
      193500       0.00      0.00      0.00         2
      193879       0.00      0.00      0.00         1
      194000       0.00      0.00      0.00         2
      194201       0.00      0.00      0.00         1
      195000       0.00      0.00      0.00         1
      196000       0.00      0.00      0.00         1
      197000       0.00      0.00      0.00         1
      198500       0.00      0.00      0.00         1
      199900       0.00      0.00      0.00         1
      200000       0.00      0.00      0.00         2
      200500       0.00      0.00      0.00         2
      200624       0.00      0.00      0.00         1
      201000       0.00      0.00      0.00         1
      202665       0.00      0.00      0.00         1
      206300       0.00      0.00      0.00         1
      207000       0.00      0.00      0.00         1
      208900       0.00      0.00      0.00         1
      213000       0.00      0.00      0.00         2
      213250       0.00      0.00      0.00         1
      213490       0.00      0.00      0.00         1
      214000       0.00      0.00      0.00         2
      215000       0.00      0.00      0.00         1
      216837       0.00      0.00      0.00         1
      217000       0.00      0.00      0.00         1
      219500       0.00      0.00      0.00         1
      222000       0.00      0.00      0.00         1
      223500       0.00      0.00      0.00         1
      224500       0.00      0.00      0.00         1
      225000       0.00      0.00      0.00         2
      229456       0.00      0.00      0.00         1
      230000       0.00      0.00      0.00         1
      230500       0.00      0.00      0.00         1
      232000       0.00      0.00      0.00         1
      233000       0.00      0.00      0.00         1
      234000       0.00      0.00      0.00         1
      239000       0.00      0.00      0.00         1
      239900       0.00      0.00      0.00         1
      240000       0.00      0.00      0.00         1
      243000       0.00      0.00      0.00         1
      245350       0.00      0.00      0.00         1
      248000       0.00      0.00      0.00         1
      248900       0.00      0.00      0.00         1
      249700       0.00      0.00      0.00         1
      250000       0.00      0.00      0.00         3
      251000       0.00      0.00      0.00         1
      260000       0.00      0.00      0.00         2
      263000       0.00      0.00      0.00         1
      265000       0.00      0.00      0.00         1
      266000       0.00      0.00      0.00         1
      270000       0.00      0.00      0.00         1
      275000       0.00      0.00      0.00         2
      277500       0.00      0.00      0.00         1
      280000       0.00      0.00      0.00         1
      282922       0.00      0.00      0.00         1
      284000       0.00      0.00      0.00         1
      301000       0.00      0.00      0.00         1
      306000       0.00      0.00      0.00         1
      313000       0.00      0.00      0.00         1
      315000       0.00      0.00      0.00         1
      316600       0.00      0.00      0.00         1
      319900       0.00      0.00      0.00         1
      320000       0.00      0.00      0.00         2
      324000       0.00      0.00      0.00         1
      325000       0.00      0.00      0.00         1
      345000       0.00      0.00      0.00         1
      367294       0.00      0.00      0.00         1
      370878       0.00      0.00      0.00         1
      372500       0.00      0.00      0.00         1
      385000       0.00      0.00      0.00         2
      386250       0.00      0.00      0.00         1
      392000       0.00      0.00      0.00         1
      403000       0.00      0.00      0.00         1
      412500       0.00      0.00      0.00         1
      415298       0.00      0.00      0.00         1
      438780       0.00      0.00      0.00         1
      538000       0.00      0.00      0.00         1
      555000       0.00      0.00      0.00         1
      745000       0.00      0.00      0.00         1

    accuracy                           0.01       292
   macro avg       0.00      0.00      0.00       292
weighted avg       0.00      0.01      0.00       292

Confusion matrix:
 [[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]

/Users/thephaothutre/opt/anaconda3/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/thephaothutre/opt/anaconda3/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/thephaothutre/opt/anaconda3/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/thephaothutre/opt/anaconda3/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/thephaothutre/opt/anaconda3/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/thephaothutre/opt/anaconda3/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [25]:
pd.DataFrame({'y':y_test,"y_pred":y_pred})

           y  y_pred
Id
530   200624  140000
492   133000  140000
460   110000  140000
280   192000  140000
656    88000   86000
...      ...     ...
327   324000  140000
441   555000  140000
1388  136000  140000
1324   82500  140000
62    101000  140000

[292 rows x 2 columns]

In [26]:
clf.predict([[6969,2021,1000,800,4,5,8]])

/Users/thephaothutre/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but MLPClassifier was fitted with feature names
  warnings.warn(

array([140000])